# --- Base de données PostgreSQL (Ville) ---
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=ivry_admin
POSTGRES_USER=
POSTGRES_PASSWORD=

# --- API centrale APM (services transverses) ---
APM_API_URL=https://api.ivry.local
APM_API_KEY=

# --- API métier Hub DSI (données Ville) ---
HUBDSI_API_URL=http://10.103.130.106:3001
HUBDSI_API_KEY=

# --- Application ---
PORT=3004
JWT_SECRET=
NODE_ENV=production
